#flash-container {
    position: fixed;
    top: 90px;
    right: 20px;
    width: 350px;
    z-index: 9999;
}

.flash-message {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 14px 18px;
    margin-bottom: 10px;
    border-radius: 10px;
    color: white;
    font-weight: 500;
    box-shadow: 0 5px 20px rgba(0,0,0,.25);
}

.flash-success {
    background: #16a34a;
}

.flash-danger,
.flash-error {
    background: #dc2626;
}

.flash-warning {
    background: #d97706;
}

.flash-info {
    background: #2563eb;
}

.flash-close {
    background: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 18px;
}