{% extends "base.html" %}

{% block title %}
Reports
{% endblock %}

{% block content %}

<div class="dashboard-panel">

    <h4>Threat Intelligence Reports</h4>

    <div class="row">

        <div class="col-md-3">
            <a href="#" class="btn btn-success w-100">
                Download XLSX
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="btn btn-primary w-100">
                Download CSV
            </a>
        </div>

        <div class="col-md-3">
            <a href="#" class="btn btn-danger w-100">
                Download PDF
            </a>
        </div>

    </div>

</div>

{% endblock %}