<aside class="sidebar">

    <div class="sidebar-header">

        <div class="logo-icon">

            <i class="fa-solid fa-shield-halved"></i>

        </div>

        <div class="logo-text">

            <h2>HIDHN</h2>

            <span>
                Healthcare SOC
            </span>

        </div>

    </div>

    <div class="sidebar-divider"></div>

    <nav class="sidebar-nav">

        <ul>

            <li>

                <a href="/dashboard">

                    <i class="fa-solid fa-chart-line"></i>

                    <span>Dashboard</span>

                </a>

            </li>

            <li>

                <a href="/attack-logs">

                    <i class="fa-solid fa-bug"></i>

                    <span>Attack Logs</span>

                </a>

            </li>

            <li>

                <a href="/alerts">

                    <i class="fa-solid fa-triangle-exclamation"></i>

                    <span>Alerts</span>

                </a>

            </li>

            <li>

                <a href="/timeline">

                    <i class="fa-solid fa-clock-rotate-left"></i>

                    <span>Attack Timeline</span>

                </a>

            </li>

            <li>

                <a href="/geolocation">

                    <i class="fa-solid fa-earth-americas"></i>

                    <span>Geo Location</span>

                </a>

            </li>

            <li>

                <a href="/mitre">

                    <i class="fa-solid fa-network-wired"></i>

                    <span>MITRE ATT&CK</span>

                </a>

            </li>

            <li>

                <a href="/ioc-extraction">

                    <i class="fa-solid fa-fingerprint"></i>

                    <span>IOC Extraction</span>

                </a>

            </li>

            <li>

                <a href="/threat-hunting">

                    <i class="fa-solid fa-magnifying-glass"></i>

                    <span>Threat Hunting</span>

                </a>

            </li>

            <li>

                <a href="/terminal">

                    <i class="fa-solid fa-terminal"></i>

                    <span>SOC Terminal</span>

                </a>

            </li>

            <li>

                <a href="/reports">

                    <i class="fa-solid fa-file-lines"></i>

                    <span>Reports</span>

                </a>

            </li>

            <li>

                <a href="/settings">

                    <i class="fa-solid fa-gear"></i>

                    <span>Settings</span>

                </a>

            </li>

        </ul>

    </nav>

    <div class="sidebar-footer">

        <div class="system-status">

            <div class="status-dot"></div>

            <span>

                System Operational

            </span>

        </div>

    </div>

</aside>